{% extends 'base.html' %}

{% load i18n %}

{% block menu %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products:category_add' %}">{% trans 'Add Category' %}</a>
          </li>
          <li class="nav-item">
            {% if request.GET %}
            <a class="nav-link" href="{% url 'products:categories' %}?hasproducts=&pg={{ request.GET.pg }}&search={{ request.GET.search }}">{% trans 'All Categories' %}</a>
            {% else %}
            <a class="nav-link" href="{% url 'products:categories' %}">{% trans 'All Categories' %}</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products:categories' %}?hasproducts=True&pg={{ request.GET.pg }}&search={{ request.GET.search }}">{% trans 'With Products' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products:categories' %}?hasproducts=False&pg={{ request.GET.pg }}&search={{ request.GET.search }}">{% trans 'Without Products' %}</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock menu %}
{% block content %}
{% endblock content %}