{% extends 'items/detail/base.html' %}

{% load i18n %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
      <h1 class="h2">{{ item.product.full_name }} {{ item.item_code }}</h1>
    </div>

    <form action="{% url 'items:detail' item.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "forms/form_template.html" with form=form %}
        {% include "forms/form_template.html" with form=details_form %}
        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    </form>
</main>
{% endblock %}