{% extends 'items/detail/base.html' %}

{% load i18n %}

{% block content %}
{% if item.images %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    {% for image in item.images.all %}
    <div class="w-25 p-3 d-inline-block">
        <img src="{{ image.image.url }}" alt="{{ item.full_name }}" class="img-thumbnail">
        <a href="{% url 'items:edit_gallery' item.id %}">{% trans 'delete' %}</a>
    </div>
    {% endfor %}    
    {% endif %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
      <h1 class="h2">{% trans 'Add New Images' %}</h1>
    </div>
    <form action="{% url 'items:image_add' item.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        <div class="custom-file">
        <input class="custom-file-input" type="file" name="images" id="customFile" multiple>
        <label class="custom-file-label" for="customFile">{% trans 'Choose file' %}</label>    
        </div>
        </div>
        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    </form>
</main>
{% endblock %}
  								  								