{% extends 'locations/employees/list/base.html' %}

{% load static %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-2">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
      <h1 class="h2">New Employee</h1>
    </div>
<form action="{% url 'locations:employee_add' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'forms/form_template.html' with form=form %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</main>
{% endblock %}