<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Price' %}</th>
            <th>{% trans 'Comment' %}</th>
            <th></th>
        </tr>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.date|date:"d.m.Y G:i:s" }}</td>
            <td>{{ payment.amount }} €</td>
            {% if payment.comment %}
            <td>{{ payment.comment }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if payment.amount > 0 and payment.deleted is False %}
            <td class="list"><a href="{% url 'orders:payment_delete' order.id payment.id %}">delete</a></td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>