{% extends 'base.html' %}

{% block menu %}
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'locations:employees' %}">Back To Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'locations:employee_detail' employee.id %}">Detail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'locations:employee_addresses' employee.id %}">Addresses</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock menu %}
{% block content %}
{% endblock content %}