{% extends 'orders/detail/base.html' %}

{% load i18n %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
            <h1 class="h2">{% trans 'Order No.' %} {{ order.order_no }}</h1>
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th scope="row">{% trans 'Customer' %}</th>
              <td><a href="{% url 'locations:customer_detail' location.customer.id %}">{{ location.customer.name }}</a></td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Start Date' %}</th>
              <td>{{ order.start|date:"d.m.Y G:i:s" }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Supposed End Date' %}</th>
              <td>{{ order.supposed_end|date:"d.m.Y G:i:s" }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Supposed Price' %}</th>
              <td>{{ order.supposed_price }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Real Price' %}</th>
              <td>{{ order.price }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Paid' %}</th>
              <td>{{ total_amount }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Unreturned Items' %}</th>
              <td>{{ order.item_set.count }} {% trans 'from' %} {{ order.item_count }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans 'Duration' %}</th>
              <td>{{ hours }} h.</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'End Date' %}</th>
                <td>
                {% if order.is_done %}
                    {{ order.real_end|date:"d.m.Y G:i:s" }}
                {% else %}
                    -
                {% endif %}
                </td>
            </tr>
          </tbody>
        </table>
    </main>
{% endblock %}
