{% extends 'orders/detail/base.html' %}

{% block content %}
  	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
      		<h1 class="h2">Order No. {{ order.order_no }}</h1>
    	</div>

		<form action="{% url 'orders:edit' order.id %}" method="post">
		    {% csrf_token %}
		    {% include 'forms/form_template.html' with form=form %}
    		<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</main>
{% endblock %}