{% extends 'transfers/list/base.html' %}

{% load i18n %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pb-2">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
      <h1 class="h2">{% trans 'New Transfer' %}</h1>
    </div>

    <div class="form-group">
    <label for="search_location">{% trans 'Location' %}</label>
    <input type="text" id="search_location" name="search_location" class="form-control" placeholder="Search location...">
    </div>

    <form action="{% url 'transfers:create_transfer' %}" method="post">
        {% csrf_token %}
        <div id="location_table">
        </div>
        <p id="error"></p>
        {% include "forms/form_template.html" with form=form %}
        <button type="submit" class="btn btn-primary" {% if not items %}disabled{% endif %}>{% trans 'Submit' %}</button>
    </form>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
      <h2 class="h3">{% trans 'Items In Transfer' %}</h2>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
            <tr>
                <th>{% trans 'Item Code' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Category' %}</th>
                <th><a href="{% url 'items:index' %}">{% trans 'Add More' %}</a></th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.item_code }}</td>
                <td><a href="{% url 'items:detail' item.id %}"><b>{{ item.product.full_name }}</b></a></td>
                <td>{{ item.product.category }}</td>            
                <td><a href="{% url 'transfers:transfer_item' item.id %}"><--</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}