{% extends 'items/list/base.html' %}

{% load static %}

{% load i18n %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
      <h1 class="h2">{% trans 'New Item' %}</h1>
    </div>
<form action="{% url 'items:add' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p id="error"></p>
    {% include 'forms/form_template.html' with form=form %}
    {{ number_form.as_p }}
    {% include 'forms/form_template.html' with form=details_form %}
    <div class="form-group">
        <div class="custom-file">
        <input class="custom-file-input" type="file" name="images" id="customFile" multiple>
        <label class="custom-file-label" for="customFile">{% trans 'Choose file' %}</label>    
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
</form>
</main>
{% endblock %}

{% block js %}
<script>
$(function(){
    $("#id_scan_code").keyup(function () {
        var scan_code = $(this).val();

        $.ajax({
            type: 'GET',
            url: '/ajax/control/scancode',
            data: {
                'code': scan_code,
            },
            dataType: 'json',
            success: function (data) {
                $('#error').html(data.msg)
            }
        });
    });
});
</script>
{% endblock %}