{% load i18n %}

<div class="pagination">
    <span class="step-links mx-auto">
        {% if queryset.has_previous %}
            <a class="white" href="?pg=1&search={{ request.GET.search }}">&laquo; {% trans 'first' %}</a>
            <a class="white" href="?pg={{ queryset.previous_page_number }}&search={{ request.GET.search }}">{% trans 'previous' %}</a>
        {% endif %}

        {% if queryset %}
            <span class="current">
                {% trans 'Page' %} {{ queryset.number }} {% trans 'of' %} {{ queryset.paginator.num_pages }}.
            </span>
        {% endif %}

        {% if queryset.has_next %}
            <a class="white" href="?pg={{ queryset.next_page_number }}&search={{ request.GET.search }}">{% trans 'next' %}</a>
            <a class="white" href="?pg={{ queryset.paginator.num_pages }}&search={{ request.GET.search }}">{% trans 'last' %} &raquo;</a>
        {% endif %}
    </span>
</div>